[linkwarden]
enabled = true
port = http,https
filter = linkwarden
logpath = {{ logs_dir }}/linkwarden/app/*.log
maxretry = {{ linkwarden_fail2ban_max_retry | default(5) }}
bantime = {{ linkwarden_fail2ban_bantime | default(3600) }}
findtime = 600 