- Linkwarden:
    icon: linkwarden.png
    href: https://{{ linkwarden_subdomain }}.{{ domain }}
    description: {{ linkwarden_homepage_description }}
    widget:
      type: linkwarden
      url: http://{{ linkwarden_app_container_name }}:{{ linkwarden_port }}
      key: {{ vault_homepage_api_keys.linkwarden | default('') }}
    group: {{ linkwarden_homepage_category }} 