version: '3.8'

networks:
  homelab:
    name: homelab
    external: true

services:
  traefik:
    image: "{{ security_traefik.image }}"
    container_name: "{{ security_traefik.container_name }}"
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      # NETWORK: Restrict Traefik dashboard to admin network or disable in production.
      # - "8080:8080" # For dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ docker_dir }}/traefik/config:/etc/traefik"
      - "{{ docker_dir }}/traefik/logs:/var/log/traefik"
      - "{{ docker_dir }}/traefik/certs:/certs"
    networks:
      - homelab
    labels:
      - "traefik.enable=true"
      # Other global labels if needed 
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "5"