# Auditd Rules for Homelab
-w /etc/passwd -p wa -k identity
-w /etc/group -p wa -k identity
-w /etc/shadow -p wa -k identity
-w /etc/gshadow -p wa -k identity
-w /etc/ssh/sshd_config -p wa -k sshd
-w {{ docker_dir }} -p wa -k docker
-w {{ data_dir }} -p wa -k data
-w /var/log -p wa -k logs
-w /etc/sudoers -p wa -k sudo
-w /etc/sudoers.d/ -p wa -k sudo
-a always,exit -F arch=b64 -S execve -k exec 