[DEFAULT]
bantime = {{ security_fail2ban.bantime }}
maxretry = {{ security_fail2ban.maxretry }}
destemail = {{ security_fail2ban.destemail }}
sender = fail2ban@{{ domain }}
action = %(action_mwl)s

[sshd]
enabled = true

[traefik-auth]
enabled = true
filter = traefik-auth
logpath = {{ docker_dir }}/traefik/logs/traefik.log
port = http,https

# Add other jails for other services as needed 