---
# Romm Homepage Service Configuration

- name: Romm
  description: Romm service
  icon: {{ romm_homepage_icon | default('romm') }}
  group: {{ romm_homepage_group | default('utilities') }}
  url: https://{{ romm_domain }}
  widget:
    type: romm
    url: https://{{ romm_domain }}
    key: status
