# Utilities Stack Firewall Rules

firewall_rules:
  - port: {{ portainer_port }}
    protocol: tcp
    comment: Portainer Web UI
  - port: {{ tdarr_port }}
    protocol: tcp
    comment: Tdarr Web/API
  - port: {{ tautulli_port }}
    protocol: tcp
    comment: Tautulli Web/API
  - port: 3000
    protocol: tcp
    comment: Homepage Dashboard 