# Utilities Stack Fail2ban Configuration

[portainer]
enabled = true
port = {{ portainer_port }}
filter = portainer-auth
logpath = {{ portainer_logs_dir }}/*.log
maxretry = 5
bantime = 3600

[tdarr]
enabled = true
port = {{ tdarr_port }}
filter = tdarr-auth
logpath = {{ tdarr_logs_dir }}/*.log
maxretry = 5
bantime = 3600

[tautulli]
enabled = true
port = {{ tautulli_port }}
filter = tautulli-auth
logpath = {{ tautulli_logs_dir }}/*.log
maxretry = 5
bantime = 3600 