# Utilities Stack Homepage Bookmarks

bookmarks:
  - name: Portainer Docs
    url: https://docs.portainer.io/
  - name: Tdarr Wiki
    url: https://wiki.tdarr.io/
  - name: Tautulli Docs
    url: https://tautulli.com/ 