[DEFAULT]
bantime = {{ media_fail2ban_bantime }}
maxretry = {{ media_fail2ban_max_retry }}

[{{ media_fail2ban_jail }}]
enabled = true
port = http,https
filter = traefik-auth
logpath = /var/log/traefik/access.log 