[Unit]
Description=Media Stack Monitoring Service
After=network.target

[Service]
Type=simple
User={{ username }}
ExecStart={{ config_dir }}/media-monitor.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target 