---
# Fing Service Configuration for Homepage
- Fing:
    icon: {{ fing_homepage_icon }}
    href: https://{{ fing_domain }}
    description: {{ fing_homepage_description }}
    category: {{ fing_homepage_category }}
    widget:
      type: fing
      url: http://{{ fing_container_name }}:{{ fing_web_port }}
      key: {{ vault_homepage_api_keys.fing }}
    status: active
    target: _blank
    group: Network Monitoring
    subtitle: Network Device Discovery
    tag: network
    tagstyle: success
    ping: true
    apikey: {{ vault_homepage_api_keys.fing }}
    headers:
      Authorization: "Bearer {{ vault_homepage_api_keys.fing }}"
    disable: false
    click: link
    open: true
    description: "{{ fing_homepage_description }}"
    subtitle: "Network Device Discovery & Monitoring"
    tag: "network"
    tagstyle: "success"
    ping: true
    apikey: "{{ vault_homepage_api_keys.fing }}"
    headers:
      Authorization: "Bearer {{ vault_homepage_api_keys.fing }}"
    disable: false
    click: "link"
    open: true 