---
# Gluetun Monitoring Configuration
# Prometheus scrape configuration

- job_name: 'gluetun'
  static_configs:
    - targets: ['{ ansible_default_ipv4.address }:{{ gluetun_external_port }}']
  metrics_path: /metrics
  scrape_interval: 30s
