version: '3.8'

networks:
  homelab:
    external: true

services:
  heimdall:
    image: "{{ heimdall_image }}"
    container_name: "{{ heimdall_container_name }}"
    restart: "{{ heimdall_restart_policy }}"
    user: "{{ heimdall_user }}"
    read_only: {{ heimdall_read_only | lower }}
    security_opt:
      - "no-new-privileges:{{ heimdall_no_new_privileges | lower }}"
    cap_drop:
      - ALL
    volumes:
      - "{{ heimdall_data_dir }}:/config"
      - "/etc/localtime:/etc/localtime:ro"
    environment:
{% for key, value in heimdall_environment.items() %}
      - {{ key }}={{ value }}
{% endfor %}
    networks:
      - homelab
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.heimdall.rule=Host(`{{ heimdall_domain }}`)"
      - "traefik.http.routers.heimdall.tls=true"
      - "traefik.http.routers.heimdall.tls.certresolver=letsencrypt"
      - "traefik.http.services.heimdall.loadbalancer.server.port={{ heimdall_port }}"
      - "traefik.docker.network=homelab"
