---
# Simple App Homepage Service Configuration

- name: Simple App
  description: A simple test application
  icon: {{ simpleapp_homepage_icon | default('simpleapp') }}
  group: {{ simpleapp_homepage_group | default('security') }}
  url: https://{{ simpleapp_domain }}
  widget:
    type: simpleapp
    url: https://{{ simpleapp_domain }}
    key: status
