---
# Pinchflat Monitoring Configuration
# Prometheus scrape configuration

- job_name: 'pinchflat'
  static_configs:
    - targets: ['{ ansible_default_ipv4.address }:{{ pinchflat_external_port }}']
  metrics_path: /metrics
  scrape_interval: 30s
