---
# Pinchflat Homepage Service Configuration

- name: Pinchflat
  description: https://github.com/kieraneglin/pinchflat
  icon: {{ pinchflat_homepage_icon | default('pinchflat') }}
  group: {{ pinchflat_homepage_group | default('media') }}
  url: https://{{ pinchflat_domain }}
  widget:
    type: pinchflat
    url: https://{{ pinchflat_domain }}
    key: status
