---
# Jellyfin Homepage Service Configuration

- name: Jellyfin
  description: Jellyfin service
  icon: {{ jellyfin_homepage_icon | default('jellyfin') }}
  group: {{ jellyfin_homepage_group | default('utilities') }}
  url: https://{{ jellyfin_domain }}
  widget:
    type: jellyfin
    url: https://{{ jellyfin_domain }}
    key: status
