# Utilities Stack Homepage Widgets

widgets:
  - name: Portainer Status
    type: status
    service: portainer
  - name: Tdarr Status
    type: status
    service: tdarr
  - name: Tautulli Status
    type: status
    service: tautulli 