# Utilities Stack CrowdSec Configuration

collections:
  - crowdsecurity/linux
  - crowdsecurity/http-cve
  - crowdsecurity/sshd
  - crowdsecurity/docker
  - crowdsecurity/base-http-scenarios

scenarios:
  - crowdsecurity/http-bad-user-agent
  - crowdsecurity/http-path-traversal-probing
  - crowdsecurity/http-sensitive-files
  - crowdsecurity/http-xss-probing 