---
# ErsatzTV Homepage Service Configuration
# Configuration for ErsatzTV service in Homepage

- name: ErsatzTV
  description: Custom Live TV Channels
  icon: ersatztv.png
  url: https://{{ ersatztv_domain }}
  widget:
    type: ersatztv
    url: https://{{ ersatztv_domain }}/api/status
    key: ersatztv_status
  group: {{ ersatztv_homepage_group }}
  status: true
  ping: true
  widget_data:
    - url: https://{{ ersatztv_domain }}/api/channels
      key: ersatztv_channels
    - url: https://{{ ersatztv_domain }}/api/collections
      key: ersatztv_collections
    - url: https://{{ ersatztv_domain }}/api/streams
      key: ersatztv_streams 