cluster.name: {{ elasticsearch_cluster_name }}
node.name: {{ elasticsearch_node_name }}
network.host: 0.0.0.0
http.port: {{ elasticsearch_web_port }}
transport.port: {{ elasticsearch_transport_port }}
discovery.type: {{ elasticsearch_discovery_type }}
bootstrap.memory_lock: {{ elasticsearch_bootstrap_memory_lock | lower }}
path.data: /usr/share/elasticsearch/data
path.logs: /usr/share/elasticsearch/logs
xpack.security.enabled: {{ elasticsearch_xpack_security_enabled | lower }}
xpack.security.transport.ssl.enabled: {{ elasticsearch_xpack_security_transport_ssl_enabled | lower }}
xpack.security.http.ssl.enabled: {{ elasticsearch_xpack_security_http_ssl_enabled | lower }} 