- name: redis
  enabled: {{ redis_homepage_enabled | default(true) }}
  domain: {{ redis_domain }}
  port: {{ redis_port }}
  description: {{ redis_homepage_description }}
  icon: {{ redis_homepage_icon }} 