- name: elasticsearch
  enabled: {{ elasticsearch_homepage_enabled | default(true) }}
  domain: {{ elasticsearch_domain }}
  port: {{ elasticsearch_port }}
  description: {{ elasticsearch_homepage_description }}
  icon: {{ elasticsearch_homepage_icon }} 