server.name: kibana
server.host: 0.0.0.0
server.port: {{ kibana_port }}
server.ssl.enabled: {{ kibana_server_ssl_enabled | lower }}
elasticsearch.hosts: ["https://{{ elasticsearch_domain }}:{{ elasticsearch_port }}"]
elasticsearch.username: "elastic"
elasticsearch.password: "{{ elasticsearch_elastic_password }}"
xpack.security.enabled: {{ kibana_xpack_security_enabled | lower }}
xpack.encryptionKey: "{{ kibana_encryption_key }}" 