bind 0.0.0.0
port 6379
requirepass {{ redis_password }}
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
maxmemory-samples {{ redis_maxmemory_samples }}
save 900 {{ redis_save_900 }}
save 300 {{ redis_save_300 }}
save 60 {{ redis_save_60 }}
protected-mode {{ redis_protected_mode }} 