- name: kibana
  enabled: {{ kibana_homepage_enabled | default(true) }}
  domain: {{ kibana_domain }}
  port: {{ kibana_port }}
  description: {{ kibana_homepage_description }}
  icon: {{ kibana_homepage_icon }} 