- name: mariadb
  enabled: {{ mariadb_homepage_enabled | default(true) }}
  domain: {{ mariadb_domain }}
  port: {{ mariadb_port }}
  description: {{ mariadb_homepage_description }}
  icon: {{ mariadb_homepage_icon }} 