- name: postgresql
  enabled: {{ postgresql_homepage_enabled | default(true) }}
  domain: {{ postgresql_domain }}
  port: {{ postgresql_port }}
  description: {{ postgresql_homepage_description }}
  icon: {{ postgresql_homepage_icon }} 