[mysqld]
bind-address = 0.0.0.0
max_connections = {{ mariadb_max_connections }}
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
innodb_log_file_size = {{ mariadb_innodb_log_file_size }}
innodb_log_buffer_size = {{ mariadb_innodb_log_buffer_size }}
key_buffer_size = {{ mariadb_key_buffer_size }}
max_allowed_packet = {{ mariadb_max_allowed_packet }}
thread_cache_size = {{ mariadb_thread_cache_size }}
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
server-id = 1
log_bin = /var/log/mysql/mysql-bin.log
expire_logs_days = 7 