# PostgreSQL Configuration
listen_addresses = '*'
max_connections = {{ postgresql_max_connections }}
shared_buffers = '{{ postgresql_shared_buffers }}'
work_mem = '{{ postgresql_work_mem }}'
maintenance_work_mem = '{{ postgresql_maintenance_work_mem }}'
effective_cache_size = '{{ postgresql_effective_cache_size }}'
wal_level = {{ postgresql_wal_level }}
max_wal_size = '{{ postgresql_max_wal_size }}'
min_wal_size = '{{ postgresql_min_wal_size }}'
log_destination = 'stderr'
logging_collector = on
log_directory = '/var/log/postgresql'
log_filename = 'postgresql-%Y-%m-%d_%H%M%S.log'
log_rotation_age = 1d
log_rotation_size = 100MB
log_min_duration_statement = 1000
log_checkpoints = on
log_connections = on
log_disconnections = on
log_lock_waits = on
log_temp_files = 0
autovacuum = on
autovacuum_max_workers = 3
autovacuum_naptime = '1min'
autovacuum_vacuum_threshold = 50
autovacuum_analyze_threshold = 50
autovacuum_vacuum_scale_factor = 0.2
autovacuum_analyze_scale_factor = 0.1
autovacuum_vacuum_cost_delay = '20ms'
autovacuum_vacuum_cost_limit = 200
statement_timeout = '60s'
lock_timeout = '60s'
idle_in_transaction_session_timeout = '60s'
datestyle = 'iso, mdy'
timezone = 'UTC'
lc_messages = 'en_US.utf8'
lc_monetary = 'en_US.utf8'
lc_numeric = 'en_US.utf8'
lc_time = 'en_US.utf8'
default_text_search_config = 'pg_catalog.english' 