---
# Test Service Monitoring Configuration
# Prometheus scrape configuration

- job_name: 'testservice'
  static_configs:
    - targets: ['{ ansible_default_ipv4.address }:{{ testservice_external_port }}']
  metrics_path: /metrics
  scrape_interval: 30s
