# Monitoring notification channels for media stack
notifications:
{% for channel in media_monitoring_notifications %}
  - name: {{ channel.name }}
    type: {{ channel.type }}
    target: {{ channel.target }}
{% endfor %} 