# Resource monitoring config for media stack
resources:
{% for service in media_services %}
  - name: {{ service.name }}
    disk_threshold: {{ service.disk_threshold | default(80) }}
    network_threshold: {{ service.network_threshold | default(1000) }}
{% endfor %} 