---
# Gluetun Homepage Service Configuration

- name: Gluetun
  description: Lightweight swiss-army-knife-like VPN client to multiple VPN service providers
  icon: {{ gluetun_homepage_icon | default('gluetun') }}
  group: {{ gluetun_homepage_group | default('security') }}
  url: https://{{ gluetun_domain }}
  widget:
    type: gluetun
    url: https://{{ gluetun_domain }}
    key: status
